<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Ticketac</title>
</head>

<body>

    <!-- NAVBAR HEADER Boostrap -->
    <%- include('navbar'); %>


    <div class="home">

        <!-- Test title -->
        <h3 class="homeTitle">My tickets : </h3>

        <!-- Table resultField -->


        <div class="tableDiv">
            <table class="table table-light ">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Journey</th>
                        <th scope="col">Date</th>
                        <th scope="col">Departure time</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>

                    <% 
                var totalBasket = 0
                var Number = 0
                 %>

                    <% for(let i = 0; i<myTickets.length; i++){
                    
                    totalBasket = totalBasket + myTickets[i].ticketPrice
                    Number++

                %>
                    <tr>
                        <th scope="row"> <%= Number %> </th>
                        <td> <%= myTickets[i].ticketDeparture %> / <%=myTickets[i].ticketArrival %></td>
                        <td> <%= dateFormat(myTickets[i].ticketDate) %> </td>
                        <td> <%= myTickets[i].ticketDepartureTime %> pm</td>
                        <td> <%= myTickets[i].ticketPrice %> €</td>
                    </tr>

                    <% } %>

                    <tr class="table-danger">

                        <th colspan="4">Total</th>
                        <td> <%= totalBasket %> €</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin-left:80%;">
            <button type="button" data-toggle="modal" data-target="#resume" class="btn btn-danger">Confirm</button>
        </div>
        <div class="modal fade" id="resume" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title resume" id="exampleModalLongTitle">Your order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="tableModal table-light ">
                            <thead>
                                <tr>
                                    <th scope="col">N°</th>
                                    <th scope="col">Journey</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Departure time</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% 
                            var totalBasket = 0
                            var Number = 0
                            %>

                                <% for(var i = 0; i<myTickets.length; i++){
                                
                                totalBasket = totalBasket + myTickets[i].ticketPrice
                                Number++

                            %>
                                <tr>
                                    <th scope="row"> <%= Number %> </th>
                                    <td> <%= myTickets[i].ticketDeparture %> / <%=myTickets[i].ticketArrival %></td>
                                    <td> <%= dateFormat(myTickets[i].ticketDate) %> </td>
                                    <td> <%= myTickets[i].ticketDepartureTime %> pm</td>
                                    <td> <%= myTickets[i].ticketPrice %> €</td>
                                </tr>

                                <% } %>

                                <tr class="table-danger">

                                    <th colspan="4">Total</th>
                                    <td> <%= totalBasket %> €</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="/confirmReservation" type="button" class="btn btn-primary">Confirm order</a>
                    </div>
                </div>
            </div>
        </div>

        <%- include('footer'); %>
    </div>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>